#pricing {
  
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.price-card {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s, border 0.3s;
}

.price-card:hover {
  transform: translateY(-10px);
}

.popular {
  border: 2px solid red;
}

.price-card h3 {
  color: red;
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.2rem;
}

.price-card ul {
  list-style: none;
  padding: 0;
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.7;
}
